<ul>
  <% @itinerary.errors.full_messages.each do |full_message| %>
    <li><%= full_message %></li>
  <% end %>
</ul>

<%= form_for(@itinerary, html: { role: 'form' }) do |f| %>
  <div class="form-group">
    <%= f.label :trip_id, class: 'control-label' %>
    <%= f.collection_select :trip_id, Trip.all.order(:name), :id, :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :location, class: 'control-label' %>
    <%= f.text_field :location, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :travel_on, class: 'control-label' %>
    <%= f.date_select :travel_on, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :estimated_cost, class: 'control-label' %>
    <%= f.text_field :estimated_cost, class: 'form-control', value: (number_with_precision(f.object.estimated_cost,  precision: 2) || 0) %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
