<ul>
<% @itinerary.errors.full_messages.each do |full_message| %>
  <li><%= full_message %></li>
<% end %>
</ul>

<%= form_for(@itinerary) do |f| %>
  <p>
    <%= f.label :location %>
    <%= f.text_field :location %>
  </p>

  <p>
    <%= f.label :travel_on %>
    <%= f.date_select :travel_on %>
  </p>

  <p>
    <%= f.submit class: "btn btn-lg btn-default" %>
  </p>
<% end %>
