<h1>Itineraries</h1>

<strong>Notice: <%= flash[:notice] %></strong>

<table>
  <tr>
    <th>Location</th>
    <th>Travel Date</th>
  </tr>
<% @itineraries.each do |itinerary| %>
  <tr>
    <td><%= itinerary.location %></td>
    <td><%= itinerary.travel_on %></td>
    <td>
      <%= link_to 'Show', action: 'show', id: itinerary.id %>
      <%= link_to 'Edit', action: 'edit', id: itinerary.id %>
    </td>
  <tr>
<% end %>
</table>

<p>
<%= link_to 'New', action: 'new' %>
</p>
