<h1>Itineraries</h1>

<p>
  <%= link_to 'New', { action: 'new' }, class: 'btn btn-default' %>
</p>

<h2>Remaining budget: <em><%= number_to_currency(@remaining_budget, unit: "PHP") %></em></h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sortable 'trip_id', 'Trip' %></th>
      <th><%= sortable 'location' %></th>
      <th><%= sortable 'travel_on', 'Travel Date' %></th>
      <th><%= sortable 'estimated_cost', 'Estimated Cost' %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @itineraries.each do |itinerary| %>
    <tr class="<%= itinerary_row_class(itinerary) %>">
      <td><%= itinerary.trip %></td>
      <td><%= itinerary.location %></td>
      <td><%= itinerary.travel_on %></td>
      <td><%= number_to_currency(itinerary.estimated_cost, unit: "PHP") %></td>
      <td>
        <%= link_to 'Show', { action: 'show', id: itinerary.id }, class: 'btn btn-default' %>
        <%= link_to 'Edit', { action: 'edit', id: itinerary.id }, class: 'btn btn-default' %>
        <%= link_to 'Delete', { action: 'show', id: itinerary.id }, method: 'delete', confirm: "Are you sure you want to delete this?", class: 'btn btn-default' %>
      </td>
      <tr>
   <% end %>
  </tbody>
</table>
