<h1>Itinerary <%= @itinerary.id %></h1>

<ul class="list-unstyled">
  <li>Trip: <%= @itinerary.trip %></li>
  <li>Location: <%= @itinerary.location %></li>
  <li>Travel Date: <%= @itinerary.travel_on %></li>
  <li>Estimated Cost: <%= number_to_currency(@itinerary.estimated_cost, unit: "PHP") %></li>
</ul>

<%= form_for([@itinerary.trip, @itinerary], method: :delete, html: { role: 'form' }) do |f| %>
  <%= f.submit 'Delete Itinerary', class: 'btn btn-primary' %>
  <%= link_to 'Back', { action: 'index', trip_id: @itinerary.trip }, class: 'btn btn-default' %>
<% end %>


