<h1>Itinerary <%= @itinerary.id %></h1>

<ul>
  <li>Location: <%= @itinerary.location %></li>
  <li>Travel Date: <%= @itinerary.travel_on %></li>
</ul>

<%= form_for(@itinerary, method: :delete) do |f| %>
  <%= f.submit 'Delete Itinerary', class: 'btn btn-primary' %>
  <%= link_to 'Back', { action: 'index' }, class: 'btn btn-default' %>
<% end %>
