<h1>Itinerary <%= @itinerary.id %></h1>

<ul>
  <li>Location: <%= @itinerary.location %></li>
  <li>Travel Date: <%= @itinerary.travel_on %></li>
</ul>

<%= form_for(@itinerary, method: :delete) do |f| %>
  <%= f.submit 'Delete Itinerary' %>
<% end %>

<p>
  <%= link_to 'Back', action: 'index' %>
</p>
